@font-face {
    font-family: 'Hanken Grotesk';
    src: url('/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Specify the weight range for variable fonts */
    font-style: normal; /* Define the style (e.g., normal, italic) */
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

h1 {
    font-weight: 500;
    font-size: 40px;
}

h3 {
    font-weight: 500;
    font-size: 30px;
}

p {
    font-size: 25px;
    font-weight: 350;
    letter-spacing: .8px;
}

